/*Overall*/
.flashcard-list {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards-container {
    padding-bottom: 5rem;
}

/*Flash Card*/
.flashcard {
    background-color: #D6EAF8;
    width: 300px;
    height: 430px;
    /* Fixed height, adjust as needed */
    cursor: pointer;
    perspective: 1000px;
    /* Gives a nice 3D effect */
    padding: 20px;
    transition: transform 0.3s ease;
}

.flashcard-inner {
    width: 100%;
    height: 90%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* This is important for 3D effect */
}

.flashcard-front,
.flashcard-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flashcard-back {
    transform: rotateY(180deg);
}

.flashcard.flipped .flashcard-inner {
    transform: rotateY(180deg);
}

.flashcard.flipped .date-and-status {
    visibility: hidden;
}

.flashcard:hover {
    background-color: #a9c68a;
    box-shadow: 0px 0px 10px #666;
}

.flashcard img {
    width: 300px;
    height: auto;
    max-height: 200px;
    object-fit: contain;
}

.date-and-status {
    display: inline-flex;
    font-size: small;
    gap: 10px;
    justify-content: space-between;
    margin-top: 320px;
    width: 100%;
    backface-visibility: hidden;
}

.flashcard-inner-button {
    margin-top: -10px;
}

.flashcard-buttons {
    display: none;
}

.flashcard:hover .flashcard-buttons {
    display: flex;
    justify-content: space-between;
}

/*Add/Edit Card*/
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-or-edit-card .button-container {
    margin-top: 40px;
}

.add-or-edit-card button,
.add-card button,
.flashcard-inner-button,
.share-cards button {
    color: #f0f2f5;
    background-color: #7cabe1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.add-or-edit-card button:hover,
.add-card button:hover,
.flashcard-inner-button:hover,
.share-cards button:hover {
    background-color: #7ed321;
    transform: scale(1.05);
}

.add-or-edit-card button:focus,
.add-card button:focus,
.flashcard-inner button:focus,
.share-cards button:focus {
    outline: none;
}

.frontType {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 100px;
}

.frontType input {
    font-size: 16px;
}

.frontInput,
.backInput,
.status-dropdown {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.frontInput input,
.backInput input,
.status-dropdown select,
.filter-container select,
.search-container input,
.sort-container select {
    width: 50%;
    height: 30px;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #7cabe1;
    background: rgba(#7cabe1, .2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    font-size: 16px;
}

.frontInput input:focus,
.backInput input:focus,
.status-dropdown select:focus,
.filter-container select:focus,
.search-container input:focus,
.sort-container select:focus {
    background-color: #D6EAF8;
}

.add-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}

/*Search/Filter*/
.search-filter-sort-select {
    margin-top: 170px;
    display: flex;
    justify-content: space-around;
}

.search-container,
.filter-container,
.sort-container,
.share-cards {
    width: 100%;
    display: flex;
    justify-content: center;
}

.filter-container select {
    height: 100%;
}

.sort-container select {
    height: 100%;
}

/*Select*/
.flashcard input {
    width: 20px;
    height: 20px;
    display: none;
}

.flashcard input:checked {
    display: block;
}

.flashcard input:hover {
    cursor: pointer;
}

.flashcard:hover input {
    display: block;
}